<div>
    <h1> MASTER DETAILS</h1>
  </div>
  <style>
  
    .info-table td {
      padding: 25px;
    } 
  
  
  
    table.table-result  {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table-result td, .table-result th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  </style> 
  <table  class="table table-bordered">
    <tr>
      <td>
        <div class="form-group">
          <div class="col-xs-6">
          <label>Master No</label>
          <br />
          <input type="text" name="customerNum" class="form-control" [value]="customer.customerNum"disabled/>
          </div>          
        </div>
      </td>
      <td>
        <div class="form-group">
          <div class="col-xs-6">
          <label>Date</label>
          <br />
          <input type="text" id="sampleDate" class="form-control" [(ngModel)]="customer.sampleDate" />
        </div>
      </div>
      </td>
      <!-- <td>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </td> -->
    <td>
            <div class="form-group">
              <div class="col-xs-6">
              <label>CustomerName</label>
              <br />
              <input type="text" id="customerName" class="form-control" [(ngModel)]="customer.customerName" />
            </div>
          </div>
          </td>
          <tr>
          <td>
              <button type="button" class="btn btn-primary" *ngIf="!updateFlag"  (click)="onRegister()">SAVE</button>
               <button type="button" class="btn btn-primary"  *ngIf="updateFlag" (click)="onUpdate()"> UPDATE</button>       
          </td> 
           <!-- <td>
            <div class="form-group">
              <button type="button" class="btn btn-primary" (click)="onRegister()" > NEW</button>
        </div>
          </td>   -->
        </tr>     